:root{
  /* CAKE FLAVOR COLOR */
  --chocolate-side: linear-gradient(to bottom, #5a2600, #b64c00);
  --chocolate-T-B: rgb(172, 73, 3);
  --chocolate-cream-T: linear-gradient(to top, #662b00, #df6c19);
  --chocolate-cream-B: linear-gradient(to top, #3d1b00, #5d2700);

  --vanila-side: linear-gradient(to bottom, #f3cb76, #eee3b6);
  --vanila-T-B: #fff1b9;
  --vanila-cream-T:linear-gradient(to top, #ffdd94, #fff1b7);
  --vanila-cream-B:linear-gradient(to top, #c09a48, #ffdc91);

  --green-side: linear-gradient(to bottom, #5b7700, #98b12a);
  --green-T-B: #b9d441;
  --green-cream-T:linear-gradient(to top, #7aa000, #ceec48);
  --green-cream-B:linear-gradient(to top, #3b4d00, #7a9e01);

  --sweetptt-side: linear-gradient(to bottom, #e6a800, #ffde71);
  --sweetptt-T-B: #ffde71;
  --sweetptt-cream-T:linear-gradient(to top, #ffb300, #ffde71);
  --sweetptt-cream-B:linear-gradient(to top, #b97800, #ffb300);

  --cheese-side: linear-gradient(to bottom, #aa4c00, #ffe07b 30%);
  --cheese-T: #aa4c00;
  --cheese-B: #ffe07b;
  --cheese-cream: transparent;
}

@keyframes infiniteSpin {
  0% {
    transform:rotateX(-20deg) rotateY(0deg) rotateZ(0deg);
  }

  50%{
    transform:rotateX(-20deg) rotateY(180deg) rotateZ(12deg);
  }

  100%{
    transform:rotateX(-20deg) rotateY(360deg) rotateZ(0deg);
  }
}

*{
  box-sizing: border-box;
}

html{
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

body{
  margin: 0;
  width: 100vw;
  height: 100vh;
  position: relative;
}

.stage{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  perspective: 1000px;
}

.cake{
  position: relative;
  width: 500px;
  height: 500px;
  transform-style: preserve-3d;
  transform: rotateX(-30deg);
  /* animation: infiniteSpin 160s infinite  linear; */
}

ul {
  margin: 0;
  padding: 0;
  width: 500px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform-style: preserve-3d;
  user-select: none;
}

li {
  transform-style: preserve-3d;
  display: inline-block;
  list-style: none;
  position: absolute;
  user-select: none;
}

/* ----------CREAMS---------- */
.creams {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  transform: translateY(-75px) ;
}


.cream-top{
  transform-style: preserve-3d;
  position: relative;
}

.cream-top li{
  position: absolute;
  width: 16px;
  height: 32px;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  background: var(--chocolate-cream-T);
  transform-origin: bottom;
}

.cream-bottom {
  transform-style: preserve-3d;
  position: relative;
}

.cream-bottom li{
  position: absolute;
  width: 16px;
  height: 14px;
  background: var(--chocolate-cream-B);
  backface-visibility: none;
  transform-origin: top;
}


/* ----------CAKE TOP & CAKE BOTTOM---------- */
.top, .bottom{
  position: absolute;
  width: 500px;
  height: 500px;
  left: 0;
  top: 0;
  background: var(--chocolate-T-B);
  border-radius: 50%;
  user-select: none;
  z-index: 0;
  backface-visibility: hidden;
}

.top{
  transform: rotateX(90deg) translateZ(60px);
}

.bottom{
  transform: rotateX(90deg) translateZ(-60px);
}


/* ----------CAKE SIDE---------- */

.side li{
  width: 36px; 
  height: 121px;
  background: var(--chocolate-side);
  z-index: -2;
}


/* ----------CHANGE CAKE COLOR---------- */

.chocolate .side li{background: var(--chocolate-side)}
.chocolate .cream-top li{background: var(--chocolate-cream-T);}
.chocolate .top, .chocolate .bottom{background: var(--chocolate-T-B);}
.chocolate .cream-bottom li{background: var(--chocolate-cream-B);}

.vanila .side li{background: var(--vanila-side);}
.vanila .cream-top li{background: var(--vanila-cream-T);}
.vanila .cream-bottom li{background: var(--vanila-cream-B);}
.vanila .top, .vanila .bottom{background: var(--vanila-T-B);}

.green .side li{background: var(--green-side);}
.green .cream-top li{background: var(--green-cream-T);}
.green .cream-bottom li{background: var(--green-cream-B);}
.green .top, .green .bottom{background: var(--green-T-B);}

.sweetptt .side li{background: var(--sweetptt-side);}
.sweetptt .cream-top li{background: var(--sweetptt-cream-T);}
.sweetptt .cream-bottom li{background: var(--sweetptt-cream-B);}
.sweetptt .top, .sweetptt .bottom{background: var(--sweetptt-T-B);}

.cheese .side li{background: var(--cheese-side);}
.cheese .cream-top li, .cheese .cream-bottom li{background: var(--cheese-cream);}
.cheese .top{background: var(--cheese-T);}
.cheese .bottom{background: var(--cheese-B);}