* {
  box-sizing: border-box;
}

html {
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  position: relative;
}

header {
  z-index: 1;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

.ui_bottons{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100vw;
  height: 100vh;
  position: absolute;
}

/* COLOR BUTTONS */
.color_buttons{
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 8px;
  width: 100vw;
  height: 100vh;
  z-index: 999;
  padding: 10vh;
}

.color_buttons button{
  width: 36px;
  height: 36px;
  border-radius: 50%;
  color: transparent;
}

.color_buttons .select{
  border: 5px solid #2d2d2d;
  transition: border .3s;
}
.color_buttons button:nth-child(1){background-color: var(--chocolate-T-B);}
.color_buttons button:nth-child(2){background-color: var(--vanila-T-B);}
.color_buttons button:nth-child(3){background-color: var(--green-T-B);}
.color_buttons button:nth-child(4){background-color: var(--sweetptt-T-B);}
.color_buttons button:nth-child(5){background-color: var(--cheese-B);}

/* CREAM COUNT */
.cream-count{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.cream-count .up{
  width: 30px;
  height: 20px;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  background-color: gray;
}

.cream-count .down{
    width: 30px;
    height: 20px;
    clip-path: polygon(0% 0%, 100% 0%, 50% 100%);
    background-color: gray;
}

.cream-count .num{
}