* {
  box-sizing: border-box;
}

html {
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  background-color: beige;
  position: relative;
}

header {
  z-index: 1;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

.ui-bottons{
  position: relative;
  width: 100vw;
  height: 100vh;
  user-select: none;
}

/* COLOR BUTTONS */
.color-buttons{
  display: flex;
  justify-content: center;
  flex-wrap: fixed;
  align-items: center;
  position: absolute;
  bottom: 10vh;
  left: 50%;
  transform: translateX(-50%);
  gap: 8px;
}

.color-buttons button{
  width: 36px;
  height: 36px;
  border-radius: 50%;
  color: transparent;
  box-shadow: 1px 2px 6px #95928e44,
  0px 0px 1px #70624e44;
}

.color-buttons .select{
  border: 5px solid white;
  transition: border .2s;
}
.color-buttons button:nth-child(1){background-color: var(--chocolate-T-B);}
.color-buttons button:nth-child(2){background-color: var(--vanila-T-B);}
.color-buttons button:nth-child(3){background-color: var(--green-T-B);}
.color-buttons button:nth-child(4){background-color: var(--sweetptt-T-B);}
.color-buttons button:nth-child(5){background-color: var(--cheese-B);}

/* CREAM COUNT */
.cream-buttons{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 10vh;
  left: 50%;
  transform: translateX(-50%);
}


/* FILTER */
.filter{
  position: absolute;
  width: 100vw;
  height: 100vh;

  z-index: 20;
  user-select: none;
}

.filter:hover{
  animation: .10s filters linear;
}

@keyframes filters{
  0%{
      backdrop-filter: url(filters.svg#filter) blur(7px) saturate(140%);
  }
  25%{
     backdrop-filter: url(filters.svg#filter) blur(5px) saturate(130%);
  }
  50%{
    backdrop-filter:url(filters.svg#filter) blur(3px) saturate(120%);
  }
  75%{
    backdrop-filter:url(filters.svg#filter) blur(1px) saturate(110%);
  }
  100%{
  backdrop-filter:url(filters.svg#filter) blur(0px) saturate(100%);
  }
}

